.topnav {
}

.topnav a {
    font-size: 20px;
    z-index: 2;
    
}

.topnav a.active {
    font-weight: 700;
}   

.underline  {
    content: '';
    width: 100%;
    position: absolute;
    top: 13px;
    left: 0;
    height: 10px;
    background: #FEFF00;
    z-index: -1;
} 