.topnav {
}

.topnav a {
    font-size: 20;
}

.topnav a.active {
    font-weight: 700;
}   

.underline  {
    content: '';
    width: 100%;
    position: absolute;
    top: 11px;
    left: 0;
    height: 6px;
    background: #FFEC3F;
    z-index: -1;
} 