html,
body {
  padding: 0;
  background-color: #F5F5F5;
}

@font-face {
  font-family: "Flama";
  src: url("../assets/fonts/FlamaCondensed-Medium.otf");
 
}

@font-face {
  font-family: "Plantin";
  src: url("../assets/fonts/PlantinStd.otf");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, a, input, button {
  font-family: 'Flama';
  text-transform: uppercase; 
}

p {
  font-family: "Plantin";
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
